[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[init]
    defaultBranch = master

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = false

[help]
    autocorrect = prompt

[rerere]
    enabled = true
    autoupdate = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[commit]
    gpgsign = true
    verbose = yes

[merge]
    conflictStyle = zdiff3

[user]
    email = emneo@kreog.com
    name = Emily Flion
    signingkey = 5FD0400D0E78EAF9843148808EBFC4B924C62D20

[alias]
    logs = log --show-signature
    fuckit = reset --hard
    plog = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --stat
    slog = log --oneline --decorate --graph --all
    fpush = push --force-with-lease
    m = merge --signoff --no-ff

[sendemail]
    smtpserver = mail.kanker.dev
    smtpuser = emneo@kreog.com
    smtpencryption = ssl
    smtpserverport = 465

[credential]
    helper = cache --timeout 3600

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
